{% extends "base.html" %}

{% block body %}

<table width="800" border="1" align="center">
	<tr><th colspan="3">Search result {{ search_title }}</th></tr>
	<tr><th>Name</th><th>Type</th><th>Commit Count</th></tr>
	{% for user in users %}
		<tr>
			<th>{{ user.user_object }}</th>
			<th>{{ user.type }}</th>
			<th>{{ user.commit_count }}</th>
		</tr>
		<tr><th colspan="3">
			{% for page in user.pages %}
			<a href="/pages/{{page}}">{{ page }}</a>
			{% endfor %}
		</th></tr>
	{% endfor %}
</table>

{% endblock %}